@page
@model Proiect.Pages.Reviews.CreateModel
@section Styles {
    <style>
        body {
            background-color: #FADADD; /* Roz deschis pentru fundal */
            font-family: Gabriola, sans-serif; /* Font Gabriola */
        }

        .btn-primary {
            background-color: #FF6699; /* Roz puțin mai închis pentru butoane */
            border-color: #FF6699;
        }

        /* Stiluri pentru tabelul cu programări */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #FF6699;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #FF6699;
            color: black;
        }
    </style>
}
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <input asp-for="Review.Rating" class="form-control" />
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <select asp-for="Review.Rating" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Review.Rating" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Review.Comment" class="control-label"></label>
                <input asp-for="Review.Comment" class="form-control" />
                <span asp-validation-for="Review.Comment" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Review.CreatedAt" class="control-label"></label>
                <input asp-for="Review.CreatedAt" class="form-control" />
                <span asp-validation-for="Review.CreatedAt" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="Review.MakeupArtistID" class="control-label"></label>
                <select asp-for="Review.MakeupArtistID" class ="form-control" asp-items="ViewBag.MakeupArtistID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
