@page
@model Proiect.Pages.MakeupArtists.CreateModel
@section Styles {
    <style>
        body {
            background-color: #FADADD; /* Roz deschis pentru fundal */
            font-family: Gabriola, sans-serif; /* Font Gabriola */
        }

        .btn-primary {
            background-color: #FF6699; /* Roz puțin mai închis pentru butoane */
            border-color: #FF6699;
        }

        /* Stiluri pentru tabelul cu programări */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #FF6699;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #FF6699;
            color: black;
        }
    </style>
}
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MakeupArtist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MakeupArtist.LastName" class="control-label"></label>
                <input asp-for="MakeupArtist.LastName" class="form-control" />
                <span asp-validation-for="MakeupArtist.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakeupArtist.FirstName" class="control-label"></label>
                <input asp-for="MakeupArtist.FirstName" class="form-control" />
                <span asp-validation-for="MakeupArtist.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakeupArtist.Experience" class="control-label"></label>
                <input asp-for="MakeupArtist.Experience" class="form-control" />
                <span asp-validation-for="MakeupArtist.Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakeupArtist.ServiceID" class="control-label">Service Name</label>
                <select asp-for="MakeupArtist.ServiceID" class="form-control" asp-items="ViewBag.ServiceID">
                </select>
                <span asp-validation-for="MakeupArtist.ServiceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakeupArtist.ServiceCost" class="control-label">Service Cost</label>
                <input asp-for="MakeupArtist.ServiceCost" class="form-control" />
                <span asp-validation-for="MakeupArtist.ServiceCost" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
